XlsxWriter
httplib2>=0.7
pysimplesoap==1.08.8
fpdf>=1.7.2
dbf>=0.88.019
Pillow>=2.0.0
suds
urllib3
acme-tiny
IPy
woocommerce
magento
psycogreen
pymssql
geopy==0.95.1
BeautifulSoup
pyOpenSSL==17.0.0
cryptography==1.9
certifi
openerp-client-lib
fabric
fabtools
xmltodict
dicttoxml
elaphe
cchardet
signxml>=2.4
lxml
pysftp
xlwt
xlrd
BeautifulSoup4
python-magic
SOAPpy
erppeek
